h3
  | Все новости
- @posts.each do |post|
  .card
    .card-body
      h5.card-title
        = post.title.html_safe
      - content = post.content[0..300]
      p.card-text
        = content.html_safe
      = link_to 'Читать целиком', post, :class => "btn btn-outline-primary"
  br
